{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area">
    <section class="banner-area about pt-5 pb-5 mt-5">
        <div class="container">
            <div class="feature-wrapper pt-5 pb-5 mt-5">
                <div class="feature-wrapper pt-5 pb-5 mt-5"></div>
            </div>
        </div>
    </section>
</section>
<!-- End banner Area -->

<!-- Start Generic Area -->
<section class="about-generic-area section-gap">
    <div class="container border-top-generic">
        <div class="whole-wrap">
            <div class="container">
                <div class="section-top-border">
                    <h3 class="about-title mb-30">What is ChiPaz</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{% static 'img/aboutpic.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9 mt-sm-20">
                            <p>ChiPaz is a recipe search engine that lets you search by ingredients you have at home.
                                Find recipes you can make right now with the ingredients you have available at home.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Generic Start -->
<section class="button-area">
    <div class="container border-top-generic">
        <h3>Image Gallery</h3>
        <div class="row gallery-item">
            <div class="col-md-4">
                <a href="static/imgb1.jpg'" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/b1.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="static/img/b2.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/b2.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="static/img/b3.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/b3.jpg);"></div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="static/img/b4.jpg' %}" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/b4.jpg);"></div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="static/img/d1.jpg' %}" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/d1.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="static/img/d2.jpg' %}" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/d2.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="static/img/d3.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/d3.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="static/img/slider1.jpg'" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/slider1.jpg);"></div>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}'
