{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area relative">
    <section class="banner-area home relative">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-start">
                <div class="banner-content col-lg-8 col-md-12">
                    <h4 class="text-white text-uppercase">Wide Options of Choice</h4>
                    <h1>
                        Delicious Recipes
                    </h1>
                    <a href="/search" class="primary-btn header-btn text-uppercase">Let's Start</a>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- End banner Area -->

<section class="about-generic-area section-gap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="about-title mb-30">What is ChiPaz</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static 'img/aboutpic.png' %}" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p>ChiPaz is a recipe search engine that lets you search by ingredients you have at home.
                        Find recipes you can make right now with the ingredients you have available at home.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start top-dish Area -->
<section class="top-dish-area" id="dish">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our Top Rated Dishes</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            {% for food in best_food_score %}
            <div class="single-dish col-lg-4">
                <div class="thumb">
                    <img class="img-fluid" src= "/media/{{food.image}}" alt="">
                </div>

                <a href={{food.url}}><h4 class="text-uppercase pt-20 pb-20" style="padding-left:10px;">{{food.name}}</h4></a>

            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End top-dish Area -->


<!-- start blog Area -->
<section class="blog-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Latest Dishes</h1>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="{% static 'img/b1.jpg' %}" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="#"><h4>Cooking Perfect Fried Rice
                    in minutes</h4></a>
            </div>
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="{% static 'img/b2.jpg' %}" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="#"><h4>Secret of making Heart
                    Shaped eggs</h4></a>
<!--                <div class="meta-bottom d-flex justify-content-between">-->
<!--                    <p><span class="lnr lnr-heart"></span> 15 Likes</p>-->
<!--                </div>-->
            </div>
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="{% static 'img/b3.jpg' %}" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="#"><h4>How to check steak if
                    it is tender or not</h4></a>
            </div>
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="{% static 'img/b4.jpg' %}" alt="">
                </div>
                <p class="date">10 Jan 2018</p>
                <a href="#"><h4>Addiction When Gambling
                    Becomes A Problem</h4></a>
            </div>
        </div>
    </div>
</section>
<!-- end blog Area -->
<!-- End Generic Start -->
<section class="button-area">
    <div class="container border-top-generic">
        <h3>Image Gallery</h3>
        <div class="row gallery-item">
            <div class="col-md-4">
                <a href="static/imgb1.jpg'" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/b1.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="static/img/b2.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/b2.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="static/img/b3.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/b3.jpg);"></div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="static/img/b4.jpg' %}" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/b4.jpg);"></div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="static/img/d1.jpg' %}" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/d1.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="static/img/d2.jpg' %}" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/d2.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="static/img/d3.jpg" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/d3.jpg);"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="static/img/slider1.jpg'" class="img-pop-up">
                    <div class="single-gallery-image" style="background: url(static/img/slider1.jpg);"></div>
                </a>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

