{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area">
    <section class="banner-area search pt-5 pb-5 mt-5">
        <div class="container">
            <div class="feature-wrapper pt-5 pb-5 mt-5">
                <div class="feature-wrapper pt-5 pb-5 mt-5"></div>
                <div class="feature-wrapper pt-5 pb-5 mt-3"></div>
            </div>
        </div>
    </section>
</section>
<!-- End banner Area -->
<section class="about-generic-area section-gap">
    <div class="container">
        <h3 class="mb-30">Choose ingredients</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="single-defination">
                    <form action="" method="post">
                        <div class="ScrollStyle">
                            {% for item in ingredients_form %}
                            <button class="accordion" type="button">
                                <img src="/static/img/icons/{{item.label}}.png" width="50" height="50">
                                {{ item.label }}
                            </button>

                            <div class="panel">
                                <!--<form action="/action_page.php">-->
                                <div class="container">
                                    {% for item2 in item %}
                                    <div class="form-check-inline">
                                        {% csrf_token %}
                                        {{ item2 }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <!--</form>-->
                            </div>
                            {% endfor %}
                        </div>
                        <br>
                        <br>
                        {% csrf_token %}
                        <input type="submit" class="genric-btn primary circle" value="Search">
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="container">
                        <div class="col-lg-12 text-center mt-4">
                            <h1>Already Have A Dish In Mind?</h1>
                        </div>
                        <div class="col-md-6 rounded offset-md-3 mt-5 border border-danger pt-3">
                            <div class="input-group mb-2">
                                <form action='' method='POST'>{% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" id="autocomplete" name='title' class="form-control"
                                                   placeholder="Search For Any Dish "
                                                   aria-label="Recipient's username">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="submit" class="genric-btn primary radius" value="Find">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="row justify-content-center">
                            {% for food in matchFoods %}
                            <div class="col-lg-3 col-md-6 single-blog">
                                <div class="thumb">
                                    <a href={{food.url}}>
                                        <img class="img-fluid" src="/media/{{food.image}}" alt="">
                                    </a>
                                </div>
                                <p class="date">{{food.date_added|date}}</p>
                                <a href={{food.url}}><h4>{{food.name}}</h4></a>
                                <a href={{food.url}}>{{food.detail}}</a>
                                <div class="meta-bottom d-flex justify-content-between">
                                    <p><span class="lnr lnr-heart"></span> {{food.score}} Likes</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
data =  {{foodNames|safe}}
$('#autocomplete').autocomplete({
	lookup: data
});

</script>
{% endblock %}
