{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<section class="banner-area">
    <section class="banner-area search relative">
        <div class="container">
            <div class="feature-wrapper pt-5 pb-5 mt-5">
                <div class="feature-wrapper pt-5 pb-5 mt-5"></div>
                <div class="banner-content col-lg-8 col-md-12">
                    <h4 class="text-white text-uppercase">Find recipes you can make right now</h4>
                    <h1>
                        SEARCH PAGE
                    </h1>
                </div>
                <div class="feature-wrapper pt-5 pb-5 mt-3"></div>
            </div>
        </div>
    </section>
</section>
<!-- End banner Area -->

<section class="about-generic-area section-gap">
    <div class="container">
        <h3 class="mb-30">Choose ingredients</h3>
        <div class="row">
            <div class="col-md-4">
                <form action="" method="post">
                    <div class="single-defination">
                        <div class="ScrollStyle">
                            {% for item in ingredients_form %}
                            <button class="accordion" type="button">
                                <img src="/static/img/icons/{{item.label}}.png" width="50" height="50">
                                {{ item.label }}
                            </button>
                            <div class="panel">
                                <div class="container">
                                    {% for item2 in item %}
                                    <div class="form-check-inline">
                                        {% csrf_token %}
                                        {{ item2 }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <br>
                        <br>
                    </div>
                    <!--<form action="" method="POST">-->
                    <!--{% for item in filterTypes_form %}-->
                    <!--<div class="row">-->
                    <!--<h4 class="mb-10">Select {{ item.label }}</h4>-->
                    <!--<div class="default-select" id="default-select">-->
                    <!--{% csrf_token %}-->
                    <!--<select class="form-control" id="inputState" style="display: none;" name="{{item.name}}">-->
                    <!--{% for a,b in item.field.choices %}-->
                    <!--{% with item.label as d %}-->
                    <!--{% if d == 'pescatarian' %}-->
                    <!--<option selected value="{{ a }}">{{ b }}&#45;&#45;&#45;&#45;</option>-->
                    <!--{%debug%}-->
                    <!--{% else %}-->
                    <!--<option value="{{ a }}">{{ b }}-</option>-->
                    <!--{% endif %}-->
                    <!--{% endwith %}-->
                    <!--{% endfor %}-->
                    <!--</select>-->

                    <!--</div>-->
                    <!--</div>-->
                    <!--{% endfor %}-->
                    <!--<input type="submit" class="genric-btn primary small" value="Filter">-->
                    <!--</form>-->
                    <div class="row mt-4 mb-4">
                        <div class="col-md-7">
                            <h4 class="mb-10">Select DIET </h4>
                        </div>
                        <div class="col-md-5">
                            <div class="default-select" id="default-select">
                                {% csrf_token %}
                                <select class="form-control" style="display: none;" name="diet">
                                    {% for a,b in filterTypes_form.diet.field.choices %}
                                    {% if previousFilter.diet == a %}
                                    <option selected value="{{ a }}">{{ b }}</option>
                                    {% else %}
                                    <option value="{{ a }}">{{ b }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-md-7">
                            <h4 class="mb-10 mt-10">Select Cuisine </h4>
                        </div>
                        <div class="col-md-5">
                            <div class="default-select" id="default-select ">
                                {% csrf_token %}
                                <select class="form-control" style="display: none;" name="cuisine">
                                    {% for a,b in filterTypes_form.cuisine.field.choices %}
                                    {% if previousFilter.cuisine == a %}
                                    <option selected value="{{ a }}">{{ b }}</option>
                                    {% else %}
                                    <option value="{{ a }}">{{ b }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-md-7">
                            <h4 class="mb-10 mt-10">Select mealType </h4>
                        </div>
                        <div class="col-md-5">
                            <div class="default-select" id="default-select  ">

                                {% csrf_token %}
                                <select class="form-control" style="display: none;" name="mealType">
                                    {% for a,b in filterTypes_form.mealType.field.choices %}
                                    {% if previousFilter.mealType == a %}
                                    <option selected value="{{ a }}">{{ b }}</option>
                                    {% else %}
                                    <option value="{{ a }}">{{ b }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <br>
                        <br>
                        <input type="submit" class="genric-btn primary circle" value="Search">
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="container">
                        <div class="col-lg-12 text-center mt-4">
                            <h1>Already Have A Dish In Mind?</h1>
                        </div>
                        <div class="col-md-6 rounded offset-md-3 mt-5 border border-danger pt-3 ">
                            <div class="input-group mb-2 ">
                                <form action='' method='POST'>
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8 px-md-3">
                                            <input type="text" id="autocomplete" name='title' class="form-control"
                                                   placeholder="Search For Any Dish "
                                                   aria-label="Recipient's username">
                                        </div>
                                        <div class="col-md-3 px-md-3 mt-1">
                                            <input type="submit" class="genric-btn primary radius" value="Find">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="row justify-content-center ">
                            {% for food in matchFoods %}
                            <div class="col-lg-3 col-md-6 single-blog">
                                <div class="thumb">
                                    <a href={{food.url}}>
                                        <img class="img-fluid" src="/media/{{food.image}}" alt="">
                                    </a>
                                </div>
                                <p class="date">{{food.date_added|date}}</p>
                                <a href={{food.url}}>
                                    <h4>{{food.name}}
                                        {% if food in favorites %}
                                        <a  onclick="profileFunction(this,'{{food}}')"  style="padding-left:70px;" class="lnr lnr-checkmark-circle"  id = "{{food|cut:' ' }}_checkmark">
                                        </a>
                                        {% else %}
                                        <a  onclick="profileFunction(this,'{{food}}')"  style="padding-left:70px;" class="lnr lnr-plus-circle"  id = "{{food|cut:' ' }}_plus">
                                        </a>
                                        {% endif %}
                                    </h4>
                                </a>
                                <a href={{food.url}}>{{food.detail}}</a>
                                <br>
                                <a style="color: red;" class='txt' id = "{{food|cut:' ' }}">{{food.score}} Likes</a>
                                <div style="margin: 0; padding: 0; border: 0;"   >
                                        <a  onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart" style="color: red;" id = "{{food|cut:' ' }}_1_1">
                                        </a>
                                        <a  onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart" style="color: red;" id = "{{food|cut:' ' }}_1_2">
                                        </a>
                                        <a  onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart" style="color: red;" id = "{{food|cut:' ' }}_1_3">
                                        </a>
                                        <a  onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart" style="color: red;" id = "{{food|cut:' ' }}_1_4">
                                        </a>
                                        <a  onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart" style="color: red;" id = "{{food|cut:' ' }}_1_5">
                                        </a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div>
                        <div class="row justify-content-center">
                            {% for food,UnavailableIngredientsStr in finalSortedFoodChoose.items %}
                            <div class="col-lg-3 col-md-6 single-blog">
                                <div class="thumb">
                                    <a href={{food.url}}>
                                        <img class="img-fluid" src="/media/{{food.image}}" alt="">
                                    </a>
                                </div>
                                <p class="date">{{food.date_added|date}}</p>
                                <a href={{food.url}}><h4>{{food.name}}</h4></a>
                                <a href={{food.url}}>{{food.detail}}</a>
                                <br>
                                {% if UnavailableIngredientsStr == 'You\'ve got all the ingredients!' %}
                                <b><a href={{food.url}}><span style="color: green;">{{UnavailableIngredientsStr}}</span></a></b>
                                {% else %}
                                <b><a href={{food.url}}><span style="color: red;">{{UnavailableIngredientsStr}}</span></a></b>
                                {% endif %}
                                   {% if food in favorites %}
                                    <div class="meta-bottom d-flex justify-content-between">
                                        <a  onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart-pulse" style="color: red;" id = "{{food|cut:' ' }}3">
                                            <span class='txt'>{{food.score}} Likes</span>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="meta-bottom d-flex justify-content-between">
                                        <a  onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart" style="color: red;" id = "{{food|cut:' ' }}4">
                                            <span class='txt'>{{food.score}} Likes</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
dataFood =  {{foodNames|safe}}
$('#autocomplete').autocomplete({
	lookup: dataFood
});
</script>
<script>
function myFunction(x , y) {
    var id = x['id'];
    var selected = id.split("_")[2]
    var name = id.split("_")[0] + '_' + id.split("_")[1]
    console.log("id= " +  selected +"    " + id);
    var idtext1 ='#' + id
    var idtext2 ='#' + id.split("_")[0]


    if ( x.classList.contains( "lnr-heart-pulse") ) {
        var temp_x
        var i;
        var count = 0;
        console.log("=========================" );

        for (i = selected ; i <= 5; i++) {
            if (i != selected || selected == 1){
            var temp_id = name + '_' + i
            console.log("temp_id= " +  temp_id);
            temp_x = document.getElementById(temp_id)
<!--            if (temp_x.classList.contains( "lnr-heart-pulse") ) {-->
<!--                    console.log("temp_x= " +  temp_x['id'] +temp_x.classList.contains( "lnr-heart")  );-->
<!--                    count += 1;-->
<!--            }-->
            temp_x.classList.remove( "lnr-heart-pulse" );
            temp_x.classList.add( "lnr-heart" );
            }
        }
        $.ajax({
            url: '/like/',
            data: {'foods':  y, 'action' : 'remove' ,  'index_selected' : selected  },
            success: function (data) {
                var addtext = '  '+data["likes"] + '   Likes'
                $( idtext2).text(addtext);
            },
        });
    }
    else {
        var temp_x
        var i;
        var count = 0;

        for (i = 1; i <= selected; i++) {
            var temp_id = name + '_' + i
            temp_x = document.getElementById(temp_id)
<!--            if (!(temp_x.classList.contains( "lnr-heart-pulse") )) {-->
<!--                    console.log("temp_x= " +  temp_x['id'] +temp_x.classList.contains( "lnr-heart")  );-->
<!--                    count += 1;-->
<!--            }-->
            temp_x.classList.add( "lnr-heart-pulse" );
        }
        $.ajax({
            url: '/like/',
            data: {'foods':  y, 'action' : 'add' , 'index_selected' : selected },
            success: function (data) {
                var addtext = '  ' + data["likes"] + '   Likes'
                $( idtext2).text(addtext);
            },
        });
    }
}
</script>

<script>
function profileFunction(x , y) {
    var id = x['id'];
    var idtext1 ='#' + id
    var idtext2 ='#' + id.split("_")[0]
    console.log("id= " +  id + x.classList.contains( "lnr-plus-circle"));

    if ( x.classList.contains( "lnr-plus-circle") ) {
       x.classList.remove( "lnr-plus-circle" );
       x.classList.add( "lnr-checkmark-circle" );
       $.ajax({
            url: '/updateProfile/',
            data: {'foods':  y, 'action' : 'add' },
       });
    }
    else {
       x.classList.remove( "lnr-checkmark-circle" );
       x.classList.add( "lnr-plus-circle" );
       $.ajax({
            url: '/updateProfile/',
            data: {'foods':  y, 'action' : 'remove' },
       });
    }
}
</script>

{% endblock %}
