{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<section class="banner-area">
    <section class="banner-area search relative">
        <div class="container">
            <div class="feature-wrapper pt-5 pb-5 mt-5">
                <div class="feature-wrapper pt-5 pb-5 mt-5"></div>
                <div class="banner-content col-lg-8 col-md-12">
                    <h4 class="text-white text-uppercase">Find recipes you can make right now</h4>
                    <h1>
                        SEARCH PAGE
                    </h1>
                </div>
                <div class="feature-wrapper pt-5 pb-5 mt-3"></div>
            </div>
        </div>
    </section>
</section>
<!-- End banner Area -->

<section class="about-generic-area section-gap">


    <div class="container">
        <h3 class="mb-30">Choose ingredients</h3>
        <div class="row">
            <div class="col-md-4">
                <form action="" method="post">
                    <div class="single-defination">
                        <div class="ScrollStyle">
                            {% for item in ingredients_form %}
                            <button class="accordion" type="button">
                                <img src="/static/img/icons/{{item.label}}.png" width="50" height="50">
                                {{ item.label }}
                            </button>

                            <div class="panel">
                                <div class="container">
                                    {% for item2 in item %}
                                    <div class="form-check-inline">
                                        {% csrf_token %}
                                        {{ item2 }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <br>
                        <br>
                    </div>


                    <!--<form action="" method="POST">-->
                    <!--{% for item in filterTypes_form %}-->
                    <!--<div class="row">-->
                    <!--<h4 class="mb-10">Select {{ item.label }}</h4>-->
                    <!--<div class="default-select" id="default-select">-->
                    <!--{% csrf_token %}-->
                    <!--<select class="form-control" id="inputState" style="display: none;" name="{{item.name}}">-->
                    <!--{% for a,b in item.field.choices %}-->
                    <!--{% with item.label as d %}-->
                    <!--{% if d == 'pescatarian' %}-->
                    <!--<option selected value="{{ a }}">{{ b }}&#45;&#45;&#45;&#45;</option>-->
                    <!--{%debug%}-->
                    <!--{% else %}-->
                    <!--<option value="{{ a }}">{{ b }}-</option>-->
                    <!--{% endif %}-->
                    <!--{% endwith %}-->
                    <!--{% endfor %}-->
                    <!--</select>-->

                    <!--</div>-->
                    <!--</div>-->
                    <!--{% endfor %}-->
                    <!--<input type="submit" class="genric-btn primary small" value="Filter">-->
                    <!--</form>-->
                    <div class="row mt-4 mb-4">
                        <div class="col-md-7">
                            <h4 class="mb-10">Select DIET </h4>
                        </div>
                        <div class="col-md-5">
                            <div class="default-select" id="default-select">

                                {% csrf_token %}
                                <select class="form-control" style="display: none;" name="diet">
                                    {% for a,b in filterTypes_form.diet.field.choices %}
                                    {% if previousFilter.diet == a %}
                                    <option selected value="{{ a }}">{{ b }}</option>
                                    {% else %}
                                    <option value="{{ a }}">{{ b }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-md-7">
                            <h4 class="mb-10 mt-10">Select Cuisine </h4>
                        </div>
                        <div class="col-md-5">
                            <div class="default-select" id="default-select ">

                                {% csrf_token %}
                                <select class="form-control" style="display: none;" name="cuisine">
                                    {% for a,b in filterTypes_form.cuisine.field.choices %}
                                    {% if previousFilter.cuisine == a %}
                                    <option selected value="{{ a }}">{{ b }}</option>
                                    {% else %}
                                    <option value="{{ a }}">{{ b }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-md-7">
                            <h4 class="mb-10 mt-10">Select mealType </h4>
                        </div>
                        <div class="col-md-5">
                            <div class="default-select" id="default-select  ">

                                {% csrf_token %}
                                <select class="form-control" style="display: none;" name="mealType">
                                    {% for a,b in filterTypes_form.mealType.field.choices %}
                                    {% if previousFilter.mealType == a %}
                                    <option selected value="{{ a }}">{{ b }}</option>
                                    {% else %}
                                    <option value="{{ a }}">{{ b }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <br>
                        <input type="submit" class="genric-btn primary circle" value="Search">
                    </div>


                </form>
            </div>


            <div class="col-md-8">
                <div class="row">
                    <div class="container">
                        <div class="col-lg-12 text-center mt-4">
                            <h1>Already Have A Dish In Mind?</h1>
                        </div>
                        <div class="col-md-6 rounded offset-md-3 mt-5 border border-danger pt-3 ">
                            <div class="input-group mb-2 ">
                                <form action='' method='POST'>
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8 px-md-3">
                                            <input type="text" id="autocomplete" name='title' class="form-control"
                                                   placeholder="Search For Any Dish "
                                                   aria-label="Recipient's username">
                                        </div>
                                        <div class="col-md-3 px-md-3">
                                            <input type="submit" class="genric-btn primary radius" value="Find">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="row justify-content-center">
                            {% for food in matchFoods %}
                            <div class="col-lg-3 col-md-6 single-blog">
                                <div class="thumb">
                                    <a href={{food.url}}>
                                        <img class="img-fluid" src="/media/{{food.image}}" alt="">
                                    </a>
                                </div>
                                <p class="date">{{food.date_added|date}}</p>
                                <a href={{food.url}}><h4>{{food.name}}</h4></a>
                                <a href={{food.url}}>{{food.detail}}</a>
                                {% if food.score >= 1 %}
                                    <div class="meta-bottom d-flex justify-content-between">
                                        <a id = "myvar1" onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart-pulse" style="color: red;">
                                            <span class='txt'>{{food.score}} Likes</span>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="meta-bottom d-flex justify-content-between">
                                        <a id = "myvar2" onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart" style="color: red;">
                                            <span class='txt'>{{food.score}} Likes</span>
                                        </a>
                                    </div>

                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row justify-content-center">
                            {% for food,UnavailableIngredientsStr in finalSortedFoodChoose.items %}
                            <div class="col-lg-3 col-md-6 single-blog">
                                <div class="thumb">
                                    <a href={{food.url}}>
                                        <img class="img-fluid" src="/media/{{food.image}}" alt="">
                                    </a>
                                </div>
                                <p class="date">{{food.date_added|date}}</p>
                                <a href={{food.url}}><h4>{{food.name}}</h4></a>
                                <a href={{food.url}}>{{food.detail}}</a>
                                <br>
                                {% if UnavailableIngredientsStr == 'You\'ve got all the ingredients!' %}
                                <b><a href={{food.url}}><span style="color: green;">{{UnavailableIngredientsStr}}</span></a></b>
                                {% else %}
                                <b><a href={{food.url}}><span
                                        style="color: red;">{{UnavailableIngredientsStr}}</span></a></b>
                                {% endif %}
<!--                                <div class="meta-bottom d-flex justify-content-between">-->
<!--                                    <p><span class="lnr lnr-heart"></span> {{food.score}} Likes</p>-->
<!--                                </div>-->
                                {% if food.score == 1 %}
                                    <div class="meta-bottom d-flex justify-content-between">
<!--                                        <a onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart-pulse" style="color: red;">         {{food.score}} Likes</a>-->
                                          <a id = "myvar3" onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart-pulse" style="color: red;">
                                            <span class='txt'>{{food.score}} Likes</span>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="meta-bottom d-flex justify-content-between">
                                         <a id = "myvar4" onclick="myFunction(this,'{{food}}')"  class="lnr lnr-heart-pulse" style="color: red;">
                                            <span class='txt'>{{food.score}} Likes</span>
                                        </a>
                                    </div>
                                {% endif %}

                            </div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
dataFood =  {{foodNames|safe}}
$('#autocomplete').autocomplete({
	lookup: dataFood
});
</script>
<script>
function myFunction(x , y) {
    console.log(">>>>>>>>");
    if ( x.classList.contains( "lnr-heart-pulse") ) {
        x.classList.remove( "lnr-heart-pulse" );
        x.classList.add( "lnr-heart" );
        $.ajax({
            url: '/search/',
                data: {'foods':  y, 'action' : 'minus' , 'isLike' : 'True' },
                success: function (data) {
                    var addtext = data["likes"] + '   Likes'
                    console.log(">>>>>>>>1" , data);
                    $('#myvar1').text(addtext);
                    $('#myvar2').text(addtext);
                    $('#myvar3').text(addtext);
                    $('#myvar4').text(addtext);

                },
        });
    }
    else {
        x.classList.remove( "lnr-heart" );
        x.classList.add( "lnr-heart-pulse" );
        $.ajax({
            url: '/search/',
            data: {'foods':  y, 'action' : 'add' , 'isLike' : 'True' },
            success: function (data) {
                                console.log(">>>>>>>>2" , data);
                var addtext = data["likes"] + '   Likes'
                $('#myvar1').text(addtext);
                $('#myvar2').text(addtext);
                $('#myvar3').text(addtext);
                $('#myvar4').text(addtext);
            },
        });
    }
}
</script>

{% endblock %}
