{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <section class="button-area">
    <div class="container border-top-generic">
      <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
          </div>
        </div>
        <form method="post">
   		{% csrf_token %}
    		{{ form|crispy }}

            <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update Password</button>
            </div>
  	</form>
      </div>
    </div>
  </section>
{% endblock content %}