{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area">
    <section class="banner-area logout pt-5 pb-5 mt-5">
        <div class="container">
            <div class="feature-wrapper pt-5 pb-5 mt-5">
                <div class="feature-wrapper pt-5 pb-5 mt-5"></div>
                <div class="feature-wrapper pt-5 pb-5 mt-3"></div>
            </div>
        </div>
    </section>
</section>
<!-- End banner Area -->
<section class="about-generic-area section-gap">
    <div class="container border-top-generic">
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
