{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area">
    <section class="banner-area profile relative">
        <div class="container">
            <div class="feature-wrapper pt-5 pb-5 mt-5">
                <div class="feature-wrapper pt-5 pb-5 mt-5"></div>
                <div class="banner-content col-lg-8 col-md-12">
                    <h4 class="text-white text-uppercase">See your profile info</h4>
                    <h1>
                        PROFILE PAGE
                    </h1>
                </div>
                <div class="feature-wrapper pt-5 pb-5 mt-3"></div>
            </div>
        </div>
    </section>
</section>
<!-- End banner Area -->
<section class="about-generic-area section-gap">
    <div class="container border-top-generic">
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="mb-30" >Favorites</h3>
    <div class="row justify-content-left">
        {% for food in favorites %}
        <div class="col-lg-3 col-md-6 single-blog">
            <a  onclick="profileFunction(this,'{{food}}')"  class="lnr lnr-cross-circle"  id = "{{food|cut:' ' }}_button"></a>

            <div class="thumb">
                <a href={{food.url}}>
                    <img class="img-fluid" src="/media/{{food.image}}" alt="" id = "{{food|cut:' ' }}_img">
                </a>
            </div>
            <p class="date" id = "{{food|cut:' ' }}_date">{{food.date_added|date}}</p>
            <div class="row col-md-12">

            <a  href={{food.url}} id = "{{food|cut:' ' }}_name" ><h4>{{food.name}}</h4></a>

            </div>
            <a href={{food.url}} id = "{{food|cut:' ' }}_detail">{{food.detail}}</a>
            <div class="meta-bottom d-flex justify-content-between">
                <div class="meta-bottom d-flex justify-content-between">
                    <a  style="color: red;" id = >
                        <span class='txt' id = "{{food|cut:' ' }}_score">{{food.score}} Likes</span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
function profileFunction(x , y) {
    var id = x['id'];
    var idtext2 ='#' + id.split("_")[0]

    var id_img = idtext2 + "_img"
    var id_date = idtext2 + "_date"
    var id_name = idtext2 + "_name"
    var id_button = idtext2 + "_button"
    var id_detail = idtext2 + "_detail"
    var id_score = idtext2 + "_score"

    $( id_img).hide();
    $( id_date).hide();
    $( id_button).hide();
    $( id_detail).hide();
    $( id_score).hide();
    $( id_name).hide();
    $.ajax({
            url: '/removeFromProfile/',
            data: {'foods':  y},
    });
}
</script>

{% endblock %}
