{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area">
    <section class="banner-area register pt-5 pb-5 mt-5">
        <div class="container">
            <div class="feature-wrapper pt-5 pb-5 mt-5">
                <div class="feature-wrapper pt-5 pb-5 mt-5"></div>
                <div class="feature-wrapper pt-5 pb-5 mt-3"></div>
            </div>
        </div>
    </section>
</section>
<!-- End banner Area -->
<section class="about-generic-area section-gap">
    <div class="container border-top-generic">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{% url 'login'%}">Sign In</a>
                </small>
            </div>
        </div>
    </div>
</section>
{% endblock content %}